<p>cadastro works!</p>
<link rel="stylesheet" href="cadastro.component.css">

codigo:<input type="id" [(ngModel)]="obj.id"><br>
Nome Completo: <input type="nomrCompleto" [(ngModel)]="obj.nomeCompleto"><br>
Nome Social: <input type="nomeSocial" [(ngModel)]="obj.nomeSocial"><br>
Nome da Mãe: <input type="nomeMae" [(ngModel)]="obj.nomeMae"><br>
Nome do Pai: <input type="nomePai" [(ngModel)]="obj.nomePai"><br>
Data de Nascimento: <input type="dataNascimento" [(ngModel)]="obj.dataNascimento"><br>
Sexo: <input type="sexo" [(ngModel)]="obj.sexo"><br>
Nacionalidade: <input type="nacionalidade" [(ngModel)]="obj.nacionalidade"><br>
Município de Nascimento: <input type="municipioNascimento" [(ngModel)]="obj.municipioNascimento"><br>
Raça/Cor: <input type="racaCor" [(ngModel)]="obj.racaCor"><br>
Frequenta Escola: <input type="frequentaEscola" [(ngModel)]="obj.frequentaEscola"><br>
Escolaridade: <input type="escolaridade" [(ngModel)]="obj.escolaridade"><br>
Situação Familiar: <input type="situacaoFamiliar" [(ngModel)]="obj.situacaoFamiliar"><br>
Estabelecimento de Vínculo: <input type="vinculoEstabelecimento" [(ngModel)]="obj.vinculoEstabelecido"><br>
Estabelecimento de Cadastro: <input type="cadastroEstabelecimento" [(ngModel)]="obj.cadastroEstabelecido"><br>
Deficiência: <input type="deficiencia" [(ngModel)]="obj.deficiencia"><br>
Tipo de Deficiência: <input type="tipoDeficiencia" [(ngModel)]="obj.tipoDeficiencia"><br>
Celular: <input type="contatoCelular" [(ngModel)]="obj.contatoCelular"><br>
Residencial: <input type="contatoResidencial" [(ngModel)]="obj.contatoResidencial"><br>
Comercial: <input type="contatoComercial" [(ngModel)]="obj.contatoComercial"><br>
Email: <input type="contatoEmail" [(ngModel)]="obj.contatoEmail"><br>
Origem do Endereço: <input type="origemEndereco" [(ngModel)]="obj.origemEndereco"><br>
Dados do Endereço: <input type="dadosEndereco" [(ngModel)]="obj.dadosEndereco"><br>
CPF (se existente): <input type="cpf" [(ngModel)]="obj.cpf"><br>
Identidade (se existente): <input type="identidade" [(ngModel)]="obj.identidade"><br>


<button (click)="salvar()">Salvar</button>