<p class="text-center fs-4 mb-4"><strong>Lista de Gerenciamento de Fichas</strong></p>

<link rel="stylesheet" href="lista.component.css">

<div class="container mt-4 p-4 bg-light rounded shadow-sm">

  <h1 class="text-center mb-4">Gerenciamento de Fichas</h1>


  <div class="d-flex justify-content-between mb-4">
    <div class="d-flex">
      <input type="text" id="search" class="form-control me-2" placeholder="Pesquisar...">
      <button class="btn btn-primary ms-2" onclick="novoRegistro()">Novo</button>
      <button class="btn btn-secondary ms-2" onclick="listarPacientes()">Importar Ficha</button>
    </div>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Documento</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody id="tabela-dados">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button class="btn btn-warning btn-sm" onclick="editarRegistro(this)">Editar</button>
          <button class="btn btn-danger btn-sm ms-2" onclick="removerPaciente(this)">Deletar</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button class="btn btn-warning btn-sm" onclick="editarRegistro(this)">Editar</button>
          <button class="btn btn-danger btn-sm ms-2" onclick="removerPaciente(this)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  function novoRegistro() {
    alert("Novo registro será adicionado.");
  }

  function importarFicha() {
    alert("Funcionalidade de importação de ficha.");
  }

  function editarRegistro(button) {
    alert("Editando registro.");
  }

  function deletarRegistro(button) {
    alert("Deletando registro.");
  }
</script>
